.welcomeText {
  text-align: center;
  color: #212529;
  font-size: 120%;
  background-color: #ced4da;
  /* padding: 10px 20px; */
  border-radius: 5px;
}

.offerText {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 1rem;
}

.newOffer {
  display: block;
  color: orangered;
  margin-bottom: 5px;
}

.fa-tags {
  margin-right: 3px;
}

.addToCart {
  color: #ffffff;
}

.wel {
  display: flex;
  text-align: center;
  color: #212529;
  font-size: 120%;
  background-color: #ced4da;
  border-radius: 5px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 20px;
  padding: 10px;
}

.upscBooks {
  color: #5f3dc4;
}
.helpImg {
  width: 2.4rem;
  float: right;
}

.helpImg {
  transition: all 0.9s ease-out;
}

.helpImg:hover {
  transform: scale(1.2);
}

.whatsapp {
  position: fixed;
  bottom: 1.5rem;
  width: 20%;
  right: 0.2rem;
  z-index: 1000;
}

.help {
  display: none;
}

.help:hover {
  display: block;
}

.helpImg:hover + .help {
  display: block;
  color: azure;
  background-color: #363636;
  position: absolute;
  bottom: 100%;
  right: 15%;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 10px;
  font-weight: 500;
}
